.membership {
   width: 60%;
   margin: auto;
   line-height: 175%;
}

.membership h1 {
   position: absolute;
   font-size: 4rem;
   font-weight: 100;
   color: black;
   bottom: 5%;
}

.membership img {
   margin-bottom: 2rem;
   border-radius: 10px;
}

.benefits {
   width: 70%;
   margin: auto;
}