
.container {
	background: #ffffff !important;
}

.col > img {
	height: 40rem;
	width: auto;
	z-index: -99;
}

.hero-about h1 {
	text-align: left;

}

.hero-about .row {
	align-items: center;
}

.officers-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 30px;
}

.partners-wrapper div[class^='col-md'] {
	margin-bottom: 70px;
}

.partner-logos {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 50px;
	justify-content: center;
	justify-items: center;
}

.partner-logo {
	max-width: 180px;
	max-height: 120px;
	height: auto;
	object-fit: contain;
	object-position: center;
	filter: grayscale(1) opacity(0.9);
	text-align: center;
}


@media (max-width: 1296px) {
	.officers-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 1109px) {
	.officers-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 767px) {
	.hero-about {
		text-align: center;
		padding-bottom: 100px;
	}
	
	.hero-about h1 {
		text-align: center;
	}

	.hero-about .col-md-6:nth-child(1) {
		margin-bottom: 75px;
	}

	.hero-about img {
		max-width: 500px;
		width: 100%;
	}

	.officers-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.partners-wrapper .col-md-6 {
		margin-bottom: 50px;
	}
}

@media (max-width: 575px) {
	.officers-grid {
		gap: 1em;
	}
}
