
.hackathonLogos .embed-responsive .card-img-top {
    object-fit: cover;
}
.hackathonLogos .btn-danger{
    font-weight: 600;
    border-radius: .45rem;
    margin-bottom: 45px;
    position: static;
}
.hackathonLogos .btn-danger:hover {
    background-color: #BC2231;
    transition: all 0.3s ease 0s;
    border-color: #bc2231;
}
.hackathonLogos .card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    /* border-radius: .5rem; */
}
.dates {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.start-end {
    font-size: .8em;
    font-weight: 600;
}
.deadline {
    font-size: .8em;
    font-weight: 600;
}
.hackathonLogos .card-body{
    background-color: #f8f8f8;
}
.hackathonLogos .card-text {
    margin-bottom: 25px;
}
