.gallery-event {
    padding-top: 50px;
}

.event-back {
    color: #000;
    font-weight: bold;
    margin-bottom: 1rem;
    display: inline-block;
}

.event-back i {
    color: #000 !important;
}

.event-back:hover {
    color: #000;
}

.event-heading {
    text-align: left;
    color: #000;
    margin-bottom: 2rem;
    font-size: 50px;
    font-weight: 600;
}

.event-metas {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 3rem;
}

.event-meta {
    font-size: 18px;
    font-weight: 600;
}

.gallery-grid {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
	gap: 1.5rem;
}

.gallery-grid .react_lightgallery_item {
    cursor: pointer;
}

.gallery-grid img {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top left;
}

@media (max-width: 767px) {
    .event-heading {
        font-size: 40px;
    }

    .event-metas {
        gap: 15px;
    }

    .event-meta {
        width: 100%;
    }
}