.events {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 40px;
}

.gallery-card {
	background-color: #f5f5f5;
	border: none;
	padding: 10px;
	border-radius: 7px;
}

.gallery-card .card-img {
	height: 15em;
	object-fit: cover;
	border-radius: 7px;
}

.gallery-card .card-body {
	padding: 30px 5px 25px;
	display: grid;
	align-content: space-between;
	gap: 0;
}

.gallery-card .card-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

.gallery-card .event-link {
	font-weight: 600;
	color: #ec1c24;
}

.gallery-card .event-link:hover {
	text-decoration: underline;
}

@media (max-width: 1199px) {
	.events {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 767px) {
	.events {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 575px) {
	.events {
		grid-template-columns: repeat(1, 1fr);
	}
}