.body {
  width: 90%;
  margin: auto;
}
.summary {
  float: left;
  width: 40%;
  padding: 10px;
}

table {
  float: right;
  width: 58%;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-top: 70px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
}

.underTable {
  float: right;
  width: 58%;
  padding: 10px 0 0 55px;
  margin: 0;
}
