.bgDark {
	height: 100%;
	position: absolute;
	/* top: 0%;
  left: 0%; */
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
	width: 100vw;
}
.firstP {
	text-align: center;
	color: white;
	font-weight: bold;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
	font-size: 3.5rem;
	width: 100%;
}

.ani {
	background: url('../../assets/cougarcs_background11.jpg');
	margin: 0;
	width: 100vw;
	height: calc(100vh - 107.75px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-position: center 0;
}

.learnMoreBtn {
	font-size: 1.3rem;
	text-align: center;
}

.main-text {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 999;
}

@media (min-width: 551px) {
	.main-text {
		height: 100px;
	}
}

@media (max-width: 550px) {
	.ani {
		min-height: calc(100vh - 107.75px);
		height: fit-content;
	}

	.bgDark {
		height: 100%;
		position: relative;
		display: flex;
		min-height: calc(100vh - 107.75px);
	}

	.main-text {
		position: relative;
		padding: 20px 0 40px;
		top: 5%;
	}
}

.alert {
	margin-bottom: 0;
}
