body {
  font-family: 'Raleway', 'Roboto Mono', monospace;
}
/* 
.carousel-control-prev {
  display: none !important;
}
.carousel-control-next {
  display: none !important;
}
.carousel-indicators {
  display: none;
} */
/* .firstImg {
  width: 100vw;

  height: 91.5vh;
  z-index: -99;
  background-size: cover;
} */
.firstP {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-weight: bold;
  font-size: 3.5rem;
  width: 100%;
}

.ani {
  background: url('../../assets/cougarcs_background13.jpg');
  position: absolute;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  /* background-attachment: ; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* background-size: 100%; */
  background-repeat: no-repeat;
}

.learnMoreBtn {
  font-size: 1.3rem;
  text-align: center;
  z-index: 10;
}

.main-text {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
