h3 {
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 20px;
  font-family: "Poppins";
  /* margin-bottom: 70px; */
}

.eventLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cardImage {
  height: 15em;
  object-fit: contain;
}

.container-event {
  margin: auto;
}
