footer {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 60px;
    background: #F6F6F6;
    margin-top: 50px;
}

footer .wrapper {
    max-width: 500px;
    margin: 0 auto;
}

footer img.footer-logo {
    max-width: 180px;
    height: auto;
    display: inline-block;
    margin-bottom: 30px;
}

footer .social-icons {
    margin-bottom: 30px;
    justify-content: center;
}

footer .policy-links {
    justify-content: center;
}

footer .policy-links .nav-link {
    padding: 0;
    color: var(--color-on-background);
}

footer .policy-links .nav-link:hover,
footer .policy-links .nav-link:active {
    color: var(--color-on-hover);
}

footer .policy-links span {
    display: inline-block;
    padding: 0 10px;
}