:root {
	--color-background: #fff;
	--color-on-background: #2f2838;
	--color-card-background: #f5f5f5;
	--color-primary: #ce1313;
	--color-on-primary: #fff;
	--color-secondary: #03dac6;
	--color-on-secondary: #000;
	--color-error: #b00020;
	--color-on-error: #fff;
	--color-on-hover: rgb(152, 112, 122);
	--color-on-labelAndHeaders: #ec1c24;
	--on-active-color: #ffffff;
}

body[data-theme='dark'] {
	--color-background: #2f2838;
	--color-on-background: #fff;
	--color-primary: #bb86fc;
	--color-on-primary: #000;
	--color-secondary: #03dac6;
	--color-on-secondary: #000;
	--color-error: #cf6679;
	--color-on-error: #000;
	--on-active-color: #7694ec;
}

body {
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	background: var(--color-background);
	color: var(--color-on-background);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	text-align: center;
	color: var(--color-on-labelAndHeaders);
	margin-bottom: 1em;
}

h6 {
	color: var(--color-on-background) !important;
}

h1.long-margin {
	margin-bottom: 1.8em;
}

label {
	text-align: center;
	color: var(--color-on-labelAndHeaders);
}
button {
	background: var(--color-primary);
	color: var(--color-background);
}

input {
	background: var(--color-background);
	color: var(--color-on-background);
	padding: 0.25rem;
}

.contactForm .container {
	background: var(--color-background);
}

.card-body {
	background: var(--color-background);
}

.container .formContainer,
.contactForm .container {
	background: var(--color-background);
}

/** Container Styles **/
.contained {
	max-width: 1400px;
}

.container-left {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: calc((100vw - 1400px - 30px)/2);
}

@media (max-width: 1430px) {
	.container-left {
		margin-left: 0;
	}
}