/* @import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css'; */

 /* @import 'react-big-calendar/lib/sass/styles'; */
 
.event-container{
    margin: 0;
    padding: 0 2em 2em;
    height: calc(100vh - 107.75px)
}

.loader {
    
}
@media only screen and (max-width: 414px) {
    .event-container{
        margin: 0;
        padding: 0 2em; 
        width: 100vw;
        height: calc(100vh - 107.75px);
    }
  }