.officers {
	padding: 1.3em;
	background-color: var(--color-card-background);
	text-align: center;
	overflow: hidden;
	position: relative;
	/* transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); */
}

.officers .picture,
.officers .team-content {
	transition: all 0.5s ease;
}

.officers .picture {
	display: inline-block;
	height: 130px;
	width: 130px;
	margin-bottom: 50px;
	z-index: 1;
	position: relative;
}

.officers .picture::before {
	content: '';
	width: 100%;
	height: 0;
	border-radius: 50%;
	background-color: #ce1313;
	position: absolute;
	bottom: 135%;
	right: 0;
	left: 0;
	opacity: 0.9;
	transform: scale(3);
	transition: all 0.5s ease;
}

.officers .picture::after {
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #ce1313;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.officers .picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(0.95);
	transition: all 0.5s ease 0s;
}

.officers .title {
	display: block;
	font-size: 15px;
	color: #4e5052;
	text-transform: none;
}

.officers .social {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #ce1313;
	position: absolute;
	bottom: -100px;
	left: 0;
	transition: all 0.5s ease 0s;
}

.officers .social li {
	display: inline-block;
}

.officers .social li a {
	display: block;
	padding: 10px;
	font-size: 17px;
	color: white;
	transition: all 0.5s ease 0s;
	text-decoration: none;
}

.officers .social {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.officers .social li .fa {
	color: #ffffff;
}

.officers:hover .picture::before {
	height: 100%;
}

.officers:hover .picture img {
	box-shadow: 0 0 0 14px #f7f5ec;
	transform: scale(0.7);
}

.officers:hover .social {
	bottom: 0;
}

.officers:hover .picture {
	margin-bottom: 15px;
}

.officers:hover .team-content {
	margin-bottom: 43px;
}

@media (max-width: 575px) {
	.officers .picture {
		width: 100px;
		height: 100px;
	}
}