.hackathonCard {
	max-width: 1400px;
	padding: 0;
}

.past .btn-danger {
	display: none;
}

.each {
	display: flex;
	justify-content: center;
}

.hackathonLogos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	gap: 1.5rem;
	grid-auto-flow: dense;
	padding: 0 2rem;
}

.hackathonCard h1 {
	padding-top: 1.8em;
}

.no-upcoming {
	display: grid;
    place-items: center;
	padding: 1em;
}
